<div class="card">
    <div class="card-body">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Ultima atualização: {{postagem.updatedAt}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>


